*{
	padding: 0;
	margin: 0;
}

.g-add{
    text-align: center;
    line-height: 30px;
    color: #000;
    width:120px;
    height:30px;
    border:1px solid #5FB878;
    margin:15px 0 10px 0;
}
.g-add:hover,.g-mod:hover,.g-del:hover{
    background: #5FB878;
    color: #eee;
    cursor: pointer;
}
.g-mod,.g-del{
    display: inline-block;
    width:50px;
    height:25px;
    border:1px solid #5FB878;
    line-height: 25px;
}
.g-table img{
    width:60px;
}
/* 遮罩层 */
.mask {
    position: fixed;
    top:0;
    width:100vw;
    height:100vh;
    background:#000;
    opacity: .8;
    display: none;
}
/* 弹框显示 */
.modal{
    display: none;
    position: fixed;
    width: 600px;
    height: 600px;
    background:#fff;
    left:calc((100vw - 500px) / 2);
    top:10px;
    border-radius:6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    padding:15px;
    overflow: scroll;
}
.box{
    margin:10px 0;
}
.box span{
    width:120px;
    font-size:16px;
    font-weight: bold;
    display:inline-block;
    text-align: right;
    color: #000;
}
.modal input{
    margin-left:10px;
    border-radius:4px;
    width:390px;
    height:25px;
    outline:none;
    border:1px solid #ddd;
    padding-left:20px;
}
.btns{
    text-align: right;
}
.btns>div{
    padding:5px 10px;
    display: inline-block;
    border:1px solid #bbb;
    border-radius:5px;
    cursor: pointer;
    color:#eee;
    background:#5FB878;
}
.btns .sure{
    background: #eee;
    border:1px solid #bbb;
    color: #5FB878;
}
.btns>div:hover{
    color: #000;
    background: #eee;
}
.btns .sure:hover{
    color: #eee;
    background: #5FB878;
}