.wrap-title .layui-nav{
    line-height: 80px;
    height:80px;
}
.layui-nav-item a{
    text-align: center;
}
.layui-nav .imgbox{
    float: left;
    text-align: center;
    margin-right:650px;
}
.left-nav,.layui-tab-content{
    display: inline-block;
}
.layui-tab-content{
    vertical-align: middle;
    width:calc(100vw - 245px);
    height:calc(100vh - 1000px);
}