*{
    margin:0;
    padding: 0;
}
.wrap{
    width: 100%;
    height:calc(100vh - 2px);
    background: #eee;
    border-top:1px solid #eee;
}
.Loginbox{
    width:480px;
    height:360px;
    border:1px solid #fff;
    background: #fff;
    box-shadow: 0 0 10px #000;
    margin:100px auto;
    box-sizing: border-box;
    padding: 45px;
}
.title-1{
    margin-left: 10px;
    font-size: 55px;
    color: #999;
}
.title-2{
    margin-left:15px;
    font-size: 35px;
}
.title-3{
    color: #aaa;
    margin:0 auto;
}
.u-inp,.p-inp{
    width:250px;
    border:none;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 10px 0;
    margin:15px 65px;
    outline: none;
}
.login{
    width:60px;
    height: 30px;
    background: #000;
    text-align: center;
    line-height: 30px;
    color: #eee;
    margin:10px auto;
}
.login:hover{
    background: #eee;
    color: #000;
}
.title-bottom{
    width:500px;
    color: #999;
    height:20px;
    margin:0 auto;
    margin-top:160px;
}
.title-bottom a{
    text-decoration: none;
    color: #000;
}

